@font-face {
    font-family: 'kokoro';
    src: url('../fonts/Kokoro.otf');
}

body {
  font-family: 'kokoro';
  min-width: 100vw;
  min-height: 100vh;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
  height: 12vh;
  line-height: 12vh;
}

.top {
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.nav-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 4vh;
}

.nav-title {
  font-size: 4vh;
}

.catchphrase {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 4vh;
  margin: 6vh;
  padding: 4vh;
}

.chat {
  background: repeating-linear-gradient(45deg, #444, #444 10px, #888 0, #888 20px);
}

#title-frame {
  min-height: 10vh;
  margin: auto;
  margin-top: 2vh;
  border: 5px solid #e0e0e0;
  border-radius: 3px;
}

#chat-frame {
  min-height: 70vh;
  max-height: 70vh;
  margin: auto;
  border: 5px solid #e0e0e0;
  border-radius: 3px;
  border-top :0;
  padding: 1rem;
  overflow: hidden; /*　はみ出した部分は切り捨て */
}

.chat-talk {
  overflow: hidden;
  margin: 0 0 1em 0;
  padding: 0;
}

.chat-talk span {
  display: block;
  margin: 0;
  padding: 0;
}

.chat-talk .talk-icon {
  float: left;
  width: auto;
}

.chat-talk .talk-content {
  position: relative;
  box-sizing: border-box;
  width: auto;
  min-height: 50px;
  border-radius: 10px;
  margin: 0 auto 0 70px;
  padding: 1em;
}

.chat-talk .talk-icon img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 2px solid #fff;
  border-radius: 50%;
}

.chat-talk .talk-content:before {
  position: absolute;
  top: 15px;
  left: -20px;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 10px solid transparent;
  border-right-color: #eeeeee;
}

.chat-talk.rinna .talk-icon {
  float: right;
}

.chat-talk.rinna .talk-content {
  margin: 0 70px 0 auto;
  color: #000;
}

.chat-talk.rinna .talk-content:before {
  right: -20px;
  left: auto;
  border-color: transparent;
  border-left-color: #b9f6ca;
}

.icon {
  height: 50px;
  width: 50px;
}

#input-frame {
  min-height: 10vh;
  margin: auto;
  border: 5px solid #e0e0e0;
  border-radius: 3px;
  border-top :0;
}

.input-text {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field-width {
  width: 50vw;
}

/**************************************************
 * 下矢印
 **************************************************/
.arrow {
  padding-top: 60px;
  position: fixed;
  bottom: 8vh;
  /* right: 8vw; */
  text-align: center;
}

.arrow span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}

.arrow span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.arrow span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
